<!doctype html>
<html lang="fr" xmlns:th="http://thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ajouter un Client</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  </head>
  <body>
    <div class="container-fluid">
    	<header></header>
    	<main class="row">   
    		<div class="row text-center">
    			<h1>Ajouter un client</h1>
    		</div>
    		<div class="col-8 offset-2 mt-5">    		
	    		<form method="POST" th:action="@{/client/ajouter}" th:object="${client}" >
	    			<div class="mb-3">
					  <label for="firstname" class="form-label">Prénom</label>
					  <input type="text" class="form-control" id="firstname" th:field="*{firstname}" >
					</div>
	    			<div class="mb-3">
					  <label for="lastname" class="form-label">Nom</label>
					  <input type="text" class="form-control" id="lastname" th:field="*{lastname}" >
					</div>
	    			<div class="mb-3">
					  <label for="address" class="form-label">Adresse</label>
					  <input type="text" class="form-control" id="address" th:field="*{address}" >
					</div>
	    			<div class="mb-3">
					  <label for="tel" class="form-label">Tel</label>
					  <input type="tel" class="form-control" id="tel" th:field="*{tel}" >
					</div>
	    			<div class="mb-3">
					  <label for="bday" class="form-label">Date de naissance</label>
					  <input type="date" class="form-control" id="bday" th:field="*{bday}" >
					</div>
					<div class="mb-3">
						<button class="btn btn-primary" type="submit" >Ajouter</button>
					</div>
	    		</form>
    		</div> 		
    	</main>
    	<footer></footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  </body>
</html>