<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

    <title>Ajouter un film</title>
</head>
<body>
    <div class="container-fluid">
        <header></header>
        <main>
           <div class="row text-center">
            <h1>Ajouter un film</h1>
           </div>             
           <div class="row col-6 offset-3">
            <form th:action="@{/films/ajouter}" th:object="${film}"  method="POST" >
              <div class="mb-3">
                <label for="titre" class="form-label">Titre</label>
                <input type="text" class="form-control" id="titre" th:field="*{titre}" >
              </div>
              <div class="mb-3">
                <label for="annee" class="form-label">Année</label>
                <input type="text" class="form-control" id="annee" th:field="*{annee}" >
              </div> 
              <div class="mb-3">
                <label for="duree" class="form-label">Durée</label>
                <input type="text" class="form-control" id="duree" th:field="*{duree}">
              </div>   
              <div class="mb-3">
                <label for="synopsis" class="form-label">Synopsis</label>
                <textarea id="synopsis" class="form-control" rows="3" th:field="*{synopsis}" ></textarea>
              </div>  
              <div class="mb-3">
                <label for="genre" class="form-label">Genre</label>
                <select class="form-select"  id="genre"  th:field="*{genre}" >
                    <option th:each="genre : ${genres}" 
                            th:value="${genre.id}" 
                            th:text="${genre.libelle}">
                    </option>
                </select> 
              </div> 
              <div class="mb-3">
                <label for="realisateur" class="form-label">Réalisateur</label>
                <select  class="form-select"  id="realisateur" th:field="*{realisateur}" >
                  <option th:each="participant : ${participants}"                   
                  th:value="${participant.id}" 
                  th:text="${participant.nom+' '+participant.prenom}">
                  </option>
                </select>  
              </div>  
              <div class="mb-3">
                <label for="acteurs" class="form-label">Acteurs</label>
                <select id="acteurs" class="form-select"  multiple th:field="*{acteurs}" >
                  <option th:each="participant : ${participants}"                   
                  th:value="${participant.id}" 
                  th:text="${participant.nom+' '+participant.prenom}">
                  </option>
                </select>
              </div>                                                                                    
            </form>
           </div>
        </main>
        <footer></footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>