<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

    <title>Ajouter un participant</title>
</head>
<body>
    <div class="container-fluid">
        <header></header>
        <main>
           <div class="row text-center">
            <h1>Ajouter un participant</h1>
           </div>             
           <div class="row col-6 offset-3" >
            <form th:action="@{/participants/ajouter}" method="post" th:object="${participant}">
              <div class="mb-3">
                <label for="prenom" class="form-label">Prénom</label>
                <input type="text" class="form-control" id="prenom" th:field="*{prenom}" >
              </div>
              <div class="mb-3">
                <label for="nom" class="form-label">Nom</label>
                <input type="text" class="form-control" id="nom" th:field="*{nom}" >
              </div> 
              <div class="mb-3">
                <button class="btn btn-primary" type="submit">
                  Ajouter
                </button>
              </div>
            </form>                                                                                   
           </div>
        </main>
        <footer></footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>